
.my-msg{
    background-color: #9239e0;
    max-width: 55%;
    margin: 7px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #3e2952;
    overflow-wrap: break-word;
    white-space: pre-line;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.text-msg{
    margin-right: 20px;
    max-width: 95%;
    margin-bottom: 0px;
    font-size: medium;
    overflow-wrap: break-word;
    white-space: pre-line;
    float: left;
}

.img-msg{
    max-width: 25vh;
}

.video-msg{
    max-width: 25vh;
}

.time-msg{
    position: relative;
    margin-bottom: 0px;
    font-size:xx-small;
    float: right;
    overflow-wrap:normal;

}