body {
    background-image: url('../images/background.jpg');
    font-family: Monospace;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.wrapper>* {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.258);
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}


.logo-space {

    height: 200px;
    background-color: #a88dda;
    position: relative;
    top: 0;
    left: 0;
}

.side {
    max-width: 100px;
    display: block;
    /* margin-left: 70px; */
    margin-right: auto;
}

.footer {
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-top: -110px;
}

.sign {
    background: rgb(255, 255, 255);
    height: 500px;
}

.logo {
    height: 130px;
    display: block;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
}

.menu {
    background-color: rgb(255, 255, 255);
}


.form-control {
    display: block;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    line-height: 1.5;
    border-color: #6d3db5 !important;
    border-style: solid !important;
    color: #7c64b8;
    height: auto;
    border-radius: 0.5rem;
    background-color: #fff;
    background-clip: padding-box;
}

.form-control:focus {
    color: #7c64b8;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-class {
    border-color: #6d3db5;
    color: #412570;
    margin-bottom: 25px;
    border-radius: 0.5rem;

}

.btn-class:hover {
    background-color: #6e3994;
    color: #fff;
}


.signin-text {
    margin-top: 20px;
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    font-weight: bold !important;
}

.signup-text {
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold !important;
}

.signup-signin {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
    font-size: larger;
    margin-left: -14px;
    margin-right: -14px;
}


.errors {
    color: rgb(189, 0, 0);
    font-size: large;
    font-weight: bold;
    margin-top: -20px;
}


@media all and (min-width: 800px) and (max-width: 856px) {
    .pic {
        margin-top: -32px;
    }

}


@media all and (min-width: 480px) and (max-width: 799px) {
    .pic {
        margin-top: 0px;
    }
}



@media all and (min-width: 800px) {
    .sign {
        flex: 3;
    }

    .menu {
        order: 1;
    }

    .sign {
        order: 2;
    }

    .sign {
        padding-left: 50px;
        padding-right: 50px;
    }

    .side {
        margin-top: 30px;
        max-width: 350px;
    }

    .footer {
        opacity: 20%;
        margin-left: 10px;
    }

}

@media all and (min-width: 600px) {
    .menu {
        flex: 1;
    }

    .sign {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media all and (min-width: 940px) {

    .sign {
        height: 460px;
    }
}