body{
  background-color: rgba(226, 226, 226, 0.975);
}

.background {
  background-color: darkgreen;
  width: 1600px;
  height: 150px;  
}


.container {
  background-color: rgb(250, 250, 250);
  height: 600px;
  position:relative;
  top: 50px;
}
.bi-person-plus {
  position: relative;
  left:250px;
}

.image img {
  width: 25px;
  margin-right: 5px;
}

.font {
  font-size: x-small;
}

.btn {

}