
    .chat-background {

      position: absolute;
      height: 90%;
      min-height: 60%;
      width: 100%;
      background-image: url(conversation-background-fade.jpg);
      background-size: cover;
      overflow: auto;
      padding: 20px;
    }
