/* .popUp {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: brightness(70%);
}

.popUp-inner {
  height: 200px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  display: block;
  position: absolute; 
  overflow: none;
  padding-left: 10px;
  left: 30%;
  right: 30%;
  bottom: 25%;
  top: 25%;
  border-radius: 10px;
}

.addContact {
    position: relative;
    font-size: x-large;
    font-weight: bold;
    top: 5%;
    text-align: center;
}

.form {
    position: relative;
}


.popup-input{ 
  color: black;
}

.popUp-inner .bi-x {
    position:relative;
    top: 0%;
    margin: 1vh;
    float: right;
    background-color: white;
    border: 0;
    font-size: 2em;
    cursor: pointer;
}


.btn-primary {
    position: absolute;
} */
