body{ 
  background-color: rgba(226, 226, 226, 0.975); 
} 
 
.container { 
  background-color: transparent; 
  height: 90vh; 
  position:relative; 
  top: 50px; 
  display: flex; 
  padding: 0%;
  border-radius: 20px;
  box-shadow: -2px 4px 1px #747474;

} 



.container .ContactScreen { 
  position: relative; 
  flex: 30vh; 
  width: 30vh;
  height: 90vh; 

} 

.container .ChatScreen { 
  position: relative; 
  flex: 70vh; 
  width: 70vh; 
  height: 90vh;
  background-color: #d7c6dc; 
  border-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -2px 0px 4px #e3cff7;
} 

.ChatScreen .MemmberInfo{
  border-top-left-radius: 0px;
  box-shadow: -1px 0px 1px #e3cff7;
  border-radius: 0px;
  border-top-right-radius: 20px;
}

.MemmberInfo { 
  justify-content: flex-start; 
  align-items: center; 
  margin: center; 
  float: left; 
  position: relative; 
  width: 100%; 
  height: 8vh; 
  background-color: #ededed;
  border-radius: 0px;
  border-top-left-radius: 20px;
  display: flex; 
} 

.MemmberInfo .img { 
  position: relative; 
  margin: 2vh;
  margin-right: 1vh; 
  object-fit: cover; 
} 
 
.Name { 
  position: relative; 
  margin: 2vh;
  margin-right: 1vh; 
} 
 
.NickName { 
  position: relative; 
  color: cadetblue; 
  text-align: left; 
  margin: 1vh;
  overflow-wrap: break-word;
  max-width: 60%;
  width: 60%;
  min-width: 30%;
} 
 
.searchChat { 
  position: relative; 
  width: 100%; 
  height: 10vh; 
  background-color: #f6f6f6; 
  display: flex; 
  justify-content:flex-start; 
  align-items: center; 
} 
.searchChat{ 
  width: 100%; 
} 

.searchChat input{ 
  position: relative;
  width: 88%; 
  outline: none; 
  border: none; 
  background: transparent; 
  box-shadow: 0px 3px 1px #ededed;
  height: 40%; 
  border-radius: 4px; 
  font-size: 14px; 
} 
.searchChat i{ 
  position: relative;
  margin: 1vh;
  font-size: 1.2em; 
  cursor:auto; 
  pointer-events: none; 
 
} 
 
.bi-person-plus { 
  position:relative; 
  right: 16px; 
  font-size: 1.5em; 
  border: 0px; 
  margin: 0; 
  outline: none; 
} 
 
.bbbbbbbbb { 
  text-decoration: none; 
} 
 
.list-group { 
  background-color: white; 
  position: relative; 
  overflow: scroll; 
  height: 72vh; 
  border-radius: 0px;
  border-bottom-left-radius: 20px;
  overflow-y: auto; 
  overflow-x: hidden; 
} 
 
 
.list-group .block { 
  position: relative; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  padding: 15px; 
  border-bottom: 1px solid rgba(0, 0, 0,0.06); 
  border-radius: 10px;
  cursor: pointer; 
} 


.list-group .block:hover {
  z-index: 1 !important;
  text-decoration: none !important;
  background-color: #f8f9fa !important;
}

 
.list-group .block .img { 
  position: relative; 
  min-width: 45px; 
  height: 45px; 
  overflow: hidden; 
  border-radius: 50%; 
  margin-right: 10px; 
} 
 
.list-group .block .details { 
  position: relative; 
  overflow-wrap: break-word;
} 
 
.list-group .block .details .Head{ 
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 5px; 
 
} 
 
.list-group .block .details .Head h4{ 
  font-size: 1.1em; 
  font-weight: 600; 
  color: #111; 
  text-decoration: none; 
} 
 
.list-group .block .details .Head .time { 
  font-size: 0.75em; 
  color: #aaa; 
  text-decoration: none; 
} 
.LastMessage { 
  display: flex; 
  max-width: 70vh;
  justify-content: space-between; 
  align-items: center; 
  text-decoration: none; 
} 
 
.LastMessage p { 
  color: #aaa; 
  width: 30vh;
  max-width: 50%;
  overflow-wrap: break-word;
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  font-size: 0.9em; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-decoration: none; 
   
} 
 
.LastMessage b { 
  background-color: #06d755; 
  color: #fff; 
  min-width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 0.75em; 
  text-decoration: none; 
} 
 
 
 
.list-group-item-action:hover { 
  z-index: 1 !important; 
  color: #495057 !important; 
  text-decoration: none !important; 
  background-color: #f4f4f4 !important; 
} 
 
.error { 
  position:absolute; 
  color: rgb(189, 0, 0); 
  font-size: large; 
  font-weight: bold; 
  top: 70px; 
  left: 70px; 
  text-align: center; 
} 
 
.chat-image { 
  width: 100%; 
  position: relative; 
  margin: 1%; 
  float:left; 
  bottom:5%; 
  object-fit: cover; 
} 

.rounded-circle {
  position: relative; 
  margin: 2vh;
  margin-right: 1vh;
}
 
.chat-Name { 
  position: relative; 
  margin: 2vh;
  margin-right: 1vh;
}